.container_Experiencia{   
    width: 1130px;
    height: 585px;
    display: flex;
    border: 5px solid #20262d;
    background-color: #cdd1da;
    justify-content: space-between;
    color: black ;
    margin-top: 50px;
    margin-left: 110px;
}

.CuerpoTitle {
    margin-right: 96px;
}

.ContainerText {
    display: flex;
    flex-direction: column;
   /* width: 50%;*/
    margin: 95px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.ContainerText p{
    font-family: serif;
    font-size: 22px;
    margin: 5px;
    text-align: justify;
}

.ContainerImage{
    display: flex;
    width: 10%;
    height: 70%;
    margin-top: 48px;
    margin-left: 185px;
    justify-content: center;
}

.ContainerImage img {
    width: 160%;
    height: 55%;
    border-radius: 100%;
}

.Experiencia {
   display: block;
   position: absolute;
   width: 950px;
/*   height: 218;*/
   margin-top: 380px;
   margin-left: 5%;
   text-align: justify;
}

.Experiencia p{
    font-family: serif;
    margin-left: 15px;
    font-size: 25px;
    margin: 5px;
    text-align: justify;
}