.container_Habilidades{   
    width: 1130px;
    height: 585px;
    display: flex;
    border: 5px solid #20262d;
    background-color: #cdd1da;
    justify-content: space-between;
    color: black ;
    margin-top: 50px;
    margin-left: 110px;
}

.CuerpoTitle {
    margin-right: 96px;
}

.ContainerText {
    display: flex;
    flex-direction: column;
   /* width: 50%;*/
    margin: 95px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.ContainerText p{
    font-family: serif;
    font-size: 22px;
    margin: 5px;
    text-align: justify;
}

.ContainerImage{
    display: flex;
    width: 10%;
    height: 70%;
    margin-top: 48px;
    margin-left: 185px;
    justify-content: center;
}

.ContainerImage img {
    width: 160%;
    height: 55%;
    border-radius: 100%;
}

.Habilidades {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 950px;
/*   height: 218;*/
   margin-top: 290px;
   margin-left: 7%;
   text-align: justify;
   justify-content: center;
   align-content: center;
}
 .Habilidades button{
  width: 118px;
  height: 35px;
  color: black;
  margin: auto;
  background-color: #0C4477;
   border-radius:20%;
   font-size: 20px;
 }
.Habilidades p{
    font-family: serif;
    margin-left: 15px;
    font-size: 25px;
    margin: 5px;
    text-align: justify;
}