.container_Principal {   
    width: 1130px;
    height: 585px;
    display: flex;
    border: 2.5px solid #0a2239;
    justify-content: space-between;
    color: black ;
    margin-top: 50px;
    margin-left: 110px;
    align-items: center;
    background-image: url(../Img/A4.jpg);
}

.CuerpoTitle {
    margin-right: 96px;   
}

.ContainerText {
    display: flex;
    flex-direction: column;
   /* width: 50%;*/
    margin: 95px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 0px;
}

.ContainerText p{
    font-family: serif;
    font-size: 22px;
    margin: 5px;
    text-align: justify;
}

.ContainerImage{
    display: flex;
    width: 10%;
    height: 70%;
    margin-top: 48px;
    margin-left: 185px;
    justify-content: center;
}

.ContainerImage img {
    width: 160%;
    height: 55%;
    border-radius: 100%;
}
.Principal{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   width: 900px;
   margin-top: 290px;
   margin-left: 8.5%;

}
.botones1{
   background: rgb(228,100,100);
   background: linear-gradient(108deg, rgba(228,100,100,0.4430147058823529) 0%, rgba(90,161,184,0.5886729691876751) 50%, rgba(196,196,196,0.45702030812324934) 100%);
   margin: 0px 48px;
   padding: 10px;
   font-size: 15px;
   border-radius: 15px;
}
